<%- include('./layouts/header.ejs') %>

    
   <div class="row">
    <div class="col-md-6 mt-5">
        <div class="card">
            <div class="card-header">
                <h5>Forget Password</h5>
            </div>
            <div class="card-body">
                <form action="/forget-password" method="POST">
                    <input type="email" placeholder="Enter Email" class="form-control" name="email" required>
                    <br>
                    <input type="submit" value="Forget Password" class="btn btn-sm btn-primary">
                </form>
            </div>

        </div>
    </div>
   </div>


    <%
    if(typeof message !== 'undefined'){
        %>
        <p style="color:red;"><%= message %></p>
        <%

    }
    %> 
   
<%- include('./layouts/footer.ejs') %>