<%- include('./layouts/header.ejs') %>


<div class="row">
    <div class="col-lg-6 mt-5">
        <div class="card">
            
            <% if(typeof message !== 'undefined'){ %>
                
                <div class="alert alert-danger alert-dismissible fade show">
                    <strong><%= message %></strong>
                    <button type="button" class="close btn btn-sm btn-warning" data-dismiss="alert">&times;</button>
                   
                </div>
            <% } %>

            <div class="card-header">
                <h4>Login</h4>
            </div>
            <div class="card-body">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <label for="email">Email</label>
                                <input type="email" name="email" placeholder="Enter Email" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <label for="password">Password</label>
                                <input type="password" name="password" placeholder="Enter password" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-info btn-sm" value="login">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer bg-dark text-center">
                <a href="/forget-password" class="btn btn-warning text-white">Forget Password</a>
            </div>
        </div>
    

    </div>
</div>
<%- include('./layouts/footer.ejs') %>